<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
</head>
<body>
<div align="center">
    <h2>Welcome to CodeJava.net User Control Panel</h2>
    <p>
        Your username is : <b>[[${#request.userPrincipal.principal.username}]]</b>
    </p>
    <button><a th:href="@{/user/profile}">My Profile</a></button>
    <form th:action="@{/user/logout}" method="post">
        <input type="submit" value="logout">
    </form>
</div>
</body>
</html>